<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{{ page_title }}{% unless page_title contains shop.name %} · {{ shop.name }}{% endunless %}</title>

    {{ content_for_header }}

    {{ 'kic-base.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    {% sections 'header-group' %}

    <main class="kic-main" id="MainContent" role="main">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}

    {{ 'kic.js' | asset_url | script_tag }}
  </body>
</html>
